# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore the pipenv/venv environment
/.venv
/.env

# Ignore macOS Desktop Services Store
.DS_Store